#timer{
    border:1px solid red;
    display: inline-block;
    width:80vw;
    height: 80vh;
    color: aliceblue;
    background-color: black;

    /* background-image :url(maxresdefault.jpg); */
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}